{% extends 'base.html' %}
{% load my_filters %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}"/>
{% endblock %}

{% block title %}
    <title>{{ blog.title }}</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-9 col-xl-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white"  >
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
                        <li class="breadcrumb-item"><a href="#">{{ blog.category }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ blog.title }}</li>
                    </ol>
                </nav>
                <div class="card rounded-0 border-0" id="article">
                    <div class="card-body px-2 px-md-3 pb-0">
                        <h1 class="card-title text-center font-weight-bold text-info">{{ blog.title }}</h1>
                        <hr>
                        <div class="text-center f-13">
                            <span class="mx-2" data-toggle="tooltip" data-placement="bottom" title="最后编辑于{{ blog.update_date }}" >{{ blog.update_date | date:"Y-m-d" }}</span>
                            <span class="mx-2" title="观看数">观看数 {{ blog.watch_number }}</span>
                            <span class="mx-2" title="评论">评论 0</span>
                        </div>
                        <div class="article-body mt-4 f-17" id="article_content" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;">
                            <p style="display: none">
                                {{ blog.context|mard|safe }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--前后文章-->
{% endblock %}
{% block scripts %}
{% endblock %}