{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8=">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        {% block style %}
        {% endblock %}
        {% block title %}
           <title>My Blogs </title>
        {% endblock %}
    </head>
    <body>
        <!-- 标签栏 -->
        {% include 'navbar.html' %}

        <!--消息块-->
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block body %}
            <main>
            {% block content %}
            {% endblock %}
            </main>
        {% endblock %}

        {# 底部 #}
        <footer class="foot container-fluid mt-3">
            <div class="card-body text-center px-0 f-14">
            <p class="card-text mb-1">Copyright&nbsp;©&nbsp;<span id="year-info">2020</span>
                <a href="#" target="_blank" title="博客作者的Github">Blog</a>.&nbsp;Powered&nbsp;by&nbsp;Django.
            </p>
            </div>
        </footer>

        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
        {% block scripts %}
        <!-- JavaScript -->
        {% endblock %}
    </body>
</html>
