{% load static %}
<!--个人空间-->
<div class="card border px-3 mb-2 mb-md-3 mt-4 d-none d-lg-block" id="home-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-paper-plane mr-2 f-17"></i>个人空间</strong>
{#        <img class="float-right" id="theme-img"#}
{#             src="{% if request.COOKIES.toggleTheme == 'dark' %}{% static 'blog/img/toggle-dark.png' %}{% else %}{% static 'blog/img/toggle-light.png' %}{% endif %}"#}
{#             alt="theme-toggle" title="切换主题">#}
    </div>
    <div class="card-body px-0 pt-3 pb-1">
        <div class="row text-center">
            <div class="col">
                <a href="https://github.com/wkkkkky" target="_blank" title="进入博主的Github查看博客源码">
                    <img style="max-width:40px" src="{% static 'images/Github_32px.ico' %}">
                    <p class="mt-2" >Github</p>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'timeline' %}" target="_blank" title="查看网站建站历程">
                    <img style="max-width:40px" src="{% static 'images/timeline_32px.ico' %}">
                    <p class="mt-2">Timeline</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!--文章分类-->
<div class="card border px-3 mb-2 mb-md-3" id="category-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-book mr-2 f-17"></i>文章分类</strong>
    </div>
    {% for foo in r_category %}
    <ul class="list-group list-group-flush f-16">
        <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
            <a class="category-item" href="{% url 'r_category' foo.category__cname %}"
               title="查看【{{ foo.category__cname }}】分类下所有文章">{{ foo.category__cname }}</a>
            <span class="badge badge-primary badge-pill" title="当前分类下有{{ foo.c }}篇文章">{{ foo.c }}</span>
        </li>
    </ul>
    {% endfor %}
</div>
<!--归档-->
<div class="card border px-3 mb-2 mb-md-3" id="category-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-book mr-2 f-17"></i>归档</strong>
    </div>
    {% for fp in r_archive %}
    <ul class="list-group list-group-flush f-16">
        <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
            <a class="category-item" href="{% url 'archive' fp.0|date:'Y' fp.0|date:'m' %}"
               title="查看【{{ fp.0|date:'Y-m' }}】所有文章">{{ fp.0|date:'Y年m月' }}</a>
            <span class="badge badge-primary badge-pill" title="当前日期下有{{ fp.1 }}篇文章">{{ fp.1 }}</span>
        </li>
    </ul>
    {% endfor %}
</div>
<!--标签云-->
{#<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="tag-card">#}
{#    <div class="card-header bg-white px-0">#}
{#        <strong><i class="fa fa-tags mr-2 f-17"></i>标&nbsp;签&nbsp;云</strong>#}
{#    </div>#}
{#    <div class="card-body px-0 py-3">#}
{#        <div class="tag-cloud">#}
{#            {% get_tag_list as tag_list %}#}
{#            {% for tag in tag_list %}#}
{#            <a href="{{ tag.get_absolute_url }}" class="tags f-16" id="tag-{{ forloop.counter }}"#}
{#               title="【{{ tag.name }}】标签下有{{ tag.total_num }}篇文章">{{ tag.name }}</a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<!--友链-->
{#<div class="d-none d-lg-block">#}
{#    <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="friends-card">#}
{#        <div class="card-header bg-white px-0">#}
{#            <strong><i class="fa fa-link mr-2 f-17"></i>友情链接</strong>#}
{#        </div>#}
{#        <div class="card-body px-0 py-3">#}
{#            <div class="tool-list">#}
{#                {% for friend in friends %}#}
{#                <div class="w-50 float-left text-center mb-2">#}
{#                    <div class="mx-2">#}
{#                        <a href="{{ friend.link }}" title="{{ friend.description }}" target="_blank">#}
{#                            {{ friend.name }}</a>#}
{#                    </div>#}
{#                </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}